# No requirements :)
# Only using built-in functionality of python
Item Class: Tablet
Rarity: Rare
Phoenix Commandment
Temple Tablet
--------
Item Level: 79
--------
{ Implicit Modifier }
Adds Vaal Beacons to a Map
6 uses remaining
--------
{ Prefix Modifier "Brimming" (Tier: 1) }
Map has 31(25-35)% increased number of Rare Monsters
{ Prefix Modifier "Challenger's" (Tier: 1) }
Monsters have 15(10-15)% increased Effectiveness
{ Suffix Modifier "" (Tier: 1) }
25(25-50)% increased chance Vaal Beacons summon additional Monsters in Map
{ Suffix Modifier "of the Antiquarian" (Tier: 1) }
Map contains an additional Strongbox
--------
Can be used in a personal Map Device to add modifiers to a Map.

Item Class: Pinnacle Keys
Rarity: Currency
Weathered Crisis Fragment
--------
Pictographs seem to convey a dire warning.
--------
Can be placed in a door in The Burning Monolith.
Shift click to unstack.

Item Class: Map Fragments
Rarity: Normal
Breachlord Sac
--------
Locked within the unseen fabric
lie the chains of power and control.
--------
Bring this to the Dreamer in the Monastery of the Keepers.

Item Class: Map Fragments
Rarity: Normal
Breachlord Sac
--------
Locked within the unseen fabric
lie the chains of power and control.
--------
Bring this to the Dreamer in the Monastery of the Keepers.
